{{define "head"}}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- FAVICON -->
<link
        rel="apple-touch-icon"
        sizes="57x57"
        href="/static/assets/favicon/apple-icon-57x57.png"
/>
<link
        rel="apple-touch-icon"
        sizes="60x60"
        href="/static/assets/favicon/apple-icon-60x60.png"
/>
<link
        rel="apple-touch-icon"
        sizes="72x72"
        href="/static/assets/favicon/apple-icon-72x72.png"
/>
<link
        rel="apple-touch-icon"
        sizes="76x76"
        href="/static/assets/favicon/apple-icon-76x76.png"
/>
<link
        rel="apple-touch-icon"
        sizes="114x114"
        href="/static/assets/favicon/apple-icon-114x114.png"
/>
<link
        rel="apple-touch-icon"
        sizes="120x120"
        href="/static/assets/favicon/apple-icon-120x120.png"
/>
<link
        rel="apple-touch-icon"
        sizes="144x144"
        href="/static/assets/favicon/apple-icon-144x144.png"
/>
<link
        rel="apple-touch-icon"
        sizes="152x152"
        href="/static/assets/favicon/apple-icon-152x152.png"
/>
<link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/static/assets/favicon/apple-icon-180x180.png"
/>
<link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="/static/assets/favicon/android-icon-192x192.png"
/>
<link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/static/assets/favicon/favicon-32x32.png"
/>
<link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="/static/assets/favicon/favicon-96x96.png"
/>
<link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/static/assets/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/static/assets/favicon/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
        name="msapplication-TileImage"
        content="/static/assets/favicon/ms-icon-144x144.png"
/>
<meta name="theme-color" content="#ffffff" />
<!-- RESET CSS -->
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
        integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
/>
<!-- REMIX ICONS -->
<link
        href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
        rel="stylesheet"
/>
<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&family=Space+Grotesk:wght@400;700&family=Space+Mono:ital,wght@1,700&display=swap"
        rel="stylesheet"
/>
{{end}}