<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/static/styles/style.css" />
    <!-- APP CSS -->
    <link rel="stylesheet" href="/static/styles/app.css" />
    <!-- CREATE POST CSS -->
    <link rel="stylesheet" href="/static/styles/create-post.css" />
    <title>Okumi - New Post</title>
  </head>
  <body>
    <main class="main" id="main">
      <!-- LOADER -->
      <div class="full-loader" id="full-loader">
        <img id="loader-img" src="/static/assets/images/preloder.gif" alt="" />
      </div>
      <!-- NAVBAR -->
      <header class="header-with-side" id="header">
        <nav class="navbar" id="navbar">
          <div class="left-wrapper">
            <div class="sidebar-container">
              <div class="navbar-icon" tabindex="2" id="toggleside">
                <i class="ri-menu-3-line"></i>
              </div>
            </div>
            <div class="searchbar-container" id="search-container">
              <input
                      type="search"
                      name="search"
                      class="search-input"
                      placeholder="Search..."
                      id="search-box"
                      tabindex="3"
                      autocomplete="off"
                      accesskey="s"
              />
              <label class="search-icon" for="search" id="search">
                <i class="ri-search-line"></i>
              </label>
            </div>
          </div>
          <div class="btn-container">
            <a href="/create-post" class="navbar-icon navbar-active" id="create-post-icon" tabindex="4" accesskey="c">
              <i class="ri-add-box-line"></i>
            </a>
            <a href="/notifications" class="navbar-icon" id="notification-icon" tabindex="5" accesskey="n">
              <i class="ri-notification-3-line"></i>
            </a>
            <a href="/profile" class="navbar-icon" id="profile-icon" tabindex="6" accesskey="p">
              <div class="profile-img" id="profile-img">
                <img src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A" alt="Profile" />
              </div>
            </a>
          </div>
        </nav>
        <nav class="sidebar" id="sidebar">
          <div class="nav-logo-container">
            <h1 class="nav-logo">
              <a
                href="index.html"
                tabindex="1"
                accesskey="q"
                id="nav-logo"
                >O<span class="visible"></span
              ></a>
            </h1>
            <div class="navbar-icon close-icon" id="close-sidebar">
              <i class="ri-close-line"></i>
            </div>
          </div>
          <div class="sidebar-wrapper">
            <div class="top-wrapper">
              <ul class="sidebar-list sidebar-list-mobile">
                <li class="sidebar-item sidebar-item-search">
                  <div
                    class="mobile-searchbar-container"
                    id="mobile-search-container"
                  >
                    <input
                      type="search"
                      name="search"
                      class="search-input"
                      placeholder="Search..."
                      id="mobile-search-box"
                      tabindex="3"
                      autocomplete="off"
                      accesskey="s"
                    /><label
                      class="search-icon"
                      for="search"
                      id="mobile-search"
                    >
                      <i class="ri-search-line"></i>
                    </label>
                  </div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="profile.html"
                    class="sidebar-icon"
                    accesskey="p"
                  >
                    <i class="ri-user-line"></i>
                    <span class="sidebar-item-title">Profile</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-icon" accesskey="n">
                    <i class="ri-notification-3-line"></i>
                    <span class="sidebar-item-title">Notifications</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="../templates/create-post.html"
                    class="sidebar-icon sidebar-active"
                    accesskey="c"
                  >
                    <i class="ri-add-box-line"></i>
                    <span class="sidebar-item-title">New Post</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
              <div class="horizontal-rule"></div>
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="h"
                  >
                    <i class="ri-home-line"></i>
                    <span class="sidebar-item-title">Homepage</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="f"
                  >
                    <i class="ri-discuss-line"></i>
                    <span class="sidebar-item-title">Forums</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="e"
                  >
                    <i class="ri-compass-line"></i>
                    <span class="sidebar-item-title">Explore</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
              <div class="horizontal-rule"></div>
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="#"
                    class="sidebar-icon"
                    id="toggle-icon"
                    accesskey="d"
                  ></a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
            </div>
            <div class="bottom-wrapper">
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="https://github.com/SE-Designs/forum-v2"
                    class="sidebar-icon"
                    target="_blank"
                  >
                    <i class="ri-external-link-line"></i>
                    <span class="sidebar-item-title">Source Code</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="settings.html"
                    class="sidebar-icon"
                    accesskey="t"
                  >
                    <i class="ri-settings-3-line"></i>
                    <span class="sidebar-item-title">Settings</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="login.html"
                    class="sidebar-icon"
                    accesskey="l"
                  >
                    <i class="ri-logout-box-line"></i>
                    <span class="sidebar-item-title">Logout</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- MAIN CONTENT -->
      <div class="main-back" id="main-back">
        <div class="main-wrapper">
          <div class="btn-container">
            <a href="/" class="btn btn-primary btn-back" id="btn-back" accesskey="b" title="Go Back">
              <i class="ri-arrow-go-back-line"></i>
            </a>
          </div>

          <h2 class="title bw-100">New Post</h2>

          {{if .Error}}
          <div class="alert alert-error">
            {{.Error}}
          </div>
          {{end}}

          <form action="/create-post" class="form-vertical" method="POST">
            <div class="form-control">
              <div class="form-wrapper">
                <input
                        class="input-field"
                        type="text"
                        name="title"
                        id="title"
                        required
                        maxlength="100"
                        autocomplete="off"
                        accesskey="1"
                        autofocus
                        {{if .Form.title}}value="{{.Form.title}}"{{end}}
                />
                <div class="horizontal-rule">
                  <div class="horizontal-shadow"></div>
                </div>
              </div>
              <label class="control-label" for="title">Title: max 100 symbols</label>
            </div>

            <div class="form-control">
              <div class="form-wrapper">
                <input
                        class="input-field"
                        type="text"
                        name="tags"
                        id="tags"
                        required
                        maxlength="100"
                        autocomplete="off"
                        accesskey="2"
                        {{if .Form.tags}}value="{{.Form.tags}}"{{end}}
                />
                <div class="horizontal-rule">
                  <div class="horizontal-shadow"></div>
                </div>
              </div>
              <label class="control-label" for="tags">Tags: max 5 tags, divided by `space`</label>
            </div>

            <div class="form-control">
              <div class="form-wrapper">
                            <textarea
                                    class="input-field"
                                    name="message"
                                    id="message"
                                    required
                                    maxlength="2400"
                                    accesskey="3"
                                    cols="30"
                                    rows="10"
                            >{{if .Form.content}}{{.Form.content}}{{end}}</textarea>
                <div class="horizontal-rule">
                  <div class="horizontal-shadow"></div>
                </div>
              </div>
              <label class="control-label" for="message">Message: max 2400 symbols</label>
            </div>

            <button type="submit" class="btn bw-100 btn-primary">Create Post</button>
            <span class="bottom-text">Additionally you can attach the photo:</span>
            <button type="button" class="after-bottom-text" id="upload-image">Click here +</button>
          </form>
        </div>
      </div>
    </main>
    <script src="../static/scripts/main.js"></script>
    <script src="../static/scripts/app.js"></script>
    <script src="../static/scripts/create-post.js"></script>
  </body>
</html>
