<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{.ErrorCode}} - {{.ErrorMsg}}</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/error.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
</head>
<body>
<main class="main-error center">
    <div class="error-box center">
        <h1 class="error-code">{{.ErrorCode}}</h1>
        <p class="error-msg">{{.ErrorMsg}}</p>
        <a href="/" class="btn btn-primary">⬅ Back to Home</a>
    </div>
</main>
</body>
</html>