<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/static/styles/style.css" />
    <!-- APP CSS -->
    <link rel="stylesheet" href="/static/styles/app.css" />
    <!-- HOME CSS -->
    <link rel="stylesheet" href="/static/styles/home.css" />
    <title>Okumi - Home</title>
  </head>
  <body>
    <main class="main" id="main">
      <!-- LOADER -->
      {{template "loader" .}}
      <!-- NAVBAR -->
      {{template "navbar" .}}
      <!-- MAIN CONTENT -->
      <div class="main-back" id="main-back">
        <div class="main-wrapper">
          <section class="cards-list">
            {{if .User}}
            <h2 class="welcome-text">Welcome back, @{{.User.Username}}</h2>
            {{end}}
            <div class="tags-list">
              <h5>
                <a id="sortingBy"
                  >Latest Topics: <i class="ri-arrow-drop-down-line"></i
                ></a>
              </h5>
              <div class="sort-container" id="sort-container">
                <ul>
                  <li><a href="#" class="sort-filter" data-sort="new">New</a></li>
                  <li><a href="#" class="sort-filter" data-sort="old">Old</a></li>
                  <li><a href="#" class="sort-filter" data-sort="hot">Hot</a></li>
                  <li><a href="#" class="sort-filter" data-sort="rising">Rising</a></li>
                </ul>
              </div>
              <div class="horizontal-rule"></div>
              <ul class="tags-container">
                {{range .Categories}}
                <li>
                  <a href="#" class="tag tag-filter">{{.Name}}</a>
                </li>
                {{end}}
              </ul>
            </div>

            {{range .Posts}}
            {{ template "post-section" . }}
            {{end}}

          </section>
          <aside class="right-aside">
            <a class="bw-100" href="/create-post">
              <button class="btn btn-special bw-100">
                Start a New Topic
              </button>
            </a>

            <section class="tags-card">
              <h5>Trending Topics:</h5>
              <ul>
                {{range .Categories}}
                <li>
                  <a href="#" class="tag tag-filter">{{.Name}}</a>
                </li>
                {{end}}
              </ul>
            </section>
          </aside>
        </div>
      </div>
      <div class="notifications" id="notifications">
        <h6>No New Notifications</h6>
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </main>
    <script src="../static/scripts/main.js"></script>
    <script src="../static/scripts/app.js"></script>
    <script src="../static/scripts/home.js"></script>
  </body>
</html>
