<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/styles/style.css" />
    <!-- INDEX CSS -->
    <link rel="stylesheet" href="../static/styles/index.css" />
    <title>Okumi</title>
  </head>
  <body>
    <main class="main" id="main">
      <!-- NAVBAR -->
      <header class="header">
        <nav class="navbar" id="navbar">
          <div class="logo-container">
            <h1 class="nav-logo">
              <a href="../templates/index.html" accesskey="q">Okumi</a>
            </h1>
          </div>
          <div class="anchors-container">
            <a href="https://01.alem.school/" class="nav-link">Alem School</a
            ><a
              href="https://github.com/01-edu/public/tree/master/subjects/forum"
              class="nav-link"
              >Requirements</a
            ><a href="https://github.com/SE-Designs/forum-v2" class="nav-link"
              >Source Code</a
            >
          </div>
          <div class="btn-container">
            <a href="login.html"
              ><button class="btn btn-primary" id="btn-login">Login</button></a
            ><a href="register.html"
              ><button class="btn btn-secondary" id="btn-register">
                Register
              </button></a
            >
          </div>
        </nav>
      </header>
      <!-- MAIN CONTENT -->
      <div class="main-gradient-back" id="main-gradient-back">
        <div class="main-wrapper">
          <h2 class="title">Your Journey of Education starts Here!</h2>
          <h3 class="after-title">
            Education is vital for everyone. Discuss, Learn and Enjoy new, free
            and open for all Okumi Forum
          </h3>
          <div class="btn-container">
            <a href="login.html"
              ><button class="btn btn-big btn-black" id="btn-login">
                Login
              </button></a
            ><a href="home.html"
              ><button class="btn btn-big btn-white">
                Visit Forum <i class="ri-arrow-drop-right-line"></i></button
            ></a>
          </div>
        </div>
        <!-- <img src="../assets/1.jpg" alt="" /> -->
      </div>
    </main>
    <script src="../static/scripts/main.js"></script>
    <script src="../static/scripts/index.js"></script>
  </body>
</html>
