<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FAVICON -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="../assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="../assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="../assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="../assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="../assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="../assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="../assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="../assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="../assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="../assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- RESET CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- REMIX ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&family=Space+Grotesk:wght@400;700&family=Space+Mono:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../styles/style.css" />
    <!-- APP CSS -->
    <link rel="stylesheet" href="../styles/app.css" />
    <!-- PROFILE CSS -->
    <link rel="stylesheet" href="../styles/profile.css" />
    <title>Okumi - Profile</title>
  </head>
  <body>
    <main class="main" id="main">
      <!-- LOADER -->
      <div class="full-loader" id="full-loader">
        <img id="loader-img" src="../assets/images/preloder.gif" alt="" />
      </div>
      <!-- NAVBAR -->
      <header class="header-with-side" id="header">
        <nav class="navbar" id="navbar">
          <div class="left-wrapper">
            <div class="sidebar-container">
              <div class="navbar-icon" tabindex="2" id="toggleside">
                <i class="ri-menu-3-line"></i>
              </div>
            </div>
            <div class="searchbar-container" id="search-container">
              <input
                type="search"
                name="search"
                class="search-input"
                placeholder="Search..."
                id="search-box"
                tabindex="3"
                autocomplete="off"
                accesskey="s"
              /><label class="search-icon" for="search" id="search">
                <i class="ri-search-line"></i>
              </label>
            </div>
          </div>
          <div class="btn-container">
            <a
              href="create-post.html"
              class="navbar-icon"
              id="create-post-icon"
              tabindex="4"
              accesskey="c"
            >
              <i class="ri-add-box-line"></i>
            </a>
            <a
              class="navbar-icon"
              id="notification-icon"
              tabindex="5"
              accesskey="n"
            >
              <i class="ri-notification-3-line"></i>
            </a>
            <a
              href="../templates/profile.html"
              class="navbar-icon"
              id="profile-icon"
              tabindex="6"
              accesskey="p"
            >
              <div class="profile-img" id="profile-img">
                <img
                  src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A"
                  alt="Profile"
                />
              </div>
            </a>
          </div>
        </nav>
        <nav class="sidebar" id="sidebar">
          <div class="nav-logo-container">
            <h1 class="nav-logo">
              <a
                href="index.html"
                tabindex="1"
                accesskey="q"
                id="nav-logo"
                >O<span class="visible"></span
              ></a>
            </h1>
            <div class="navbar-icon close-icon" id="close-sidebar">
              <i class="ri-close-line"></i>
            </div>
          </div>
          <div class="sidebar-wrapper">
            <div class="top-wrapper">
              <ul class="sidebar-list sidebar-list-mobile">
                <li class="sidebar-item sidebar-item-search">
                  <div
                    class="mobile-searchbar-container"
                    id="mobile-search-container"
                  >
                    <input
                      type="search"
                      name="search"
                      class="search-input"
                      placeholder="Search..."
                      id="mobile-search-box"
                      tabindex="3"
                      autocomplete="off"
                      accesskey="s"
                    /><label
                      class="search-icon"
                      for="search"
                      id="mobile-search"
                    >
                      <i class="ri-search-line"></i>
                    </label>
                  </div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="../templates/profile.html"
                    class="sidebar-icon sidebar-active"
                    accesskey="p"
                  >
                    <i class="ri-user-line"></i>
                    <span class="sidebar-item-title">Profile</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a href="#" class="sidebar-icon" accesskey="n">
                    <i class="ri-notification-3-line"></i>
                    <span class="sidebar-item-title">Notifications</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="create-post.html"
                    class="sidebar-icon"
                    accesskey="c"
                  >
                    <i class="ri-add-box-line"></i>
                    <span class="sidebar-item-title">New Post</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
              <div class="horizontal-rule"></div>
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="h"
                  >
                    <i class="ri-home-line"></i>
                    <span class="sidebar-item-title">Homepage</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="f"
                  >
                    <i class="ri-discuss-line"></i>
                    <span class="sidebar-item-title">Forums</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="home.html"
                    class="sidebar-icon"
                    accesskey="e"
                  >
                    <i class="ri-compass-line"></i>
                    <span class="sidebar-item-title">Explore</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
              <div class="horizontal-rule"></div>
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="#"
                    class="sidebar-icon"
                    id="toggle-icon"
                    accesskey="d"
                  ></a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
            </div>
            <div class="bottom-wrapper">
              <ul class="sidebar-list">
                <li class="sidebar-item">
                  <a
                    href="https://github.com/SE-Designs/forum-v2"
                    class="sidebar-icon"
                    target="_blank"
                  >
                    <i class="ri-external-link-line"></i>
                    <span class="sidebar-item-title">Source Code</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="settings.html"
                    class="sidebar-icon sidebar-active"
                    accesskey="t"
                  >
                    <i class="ri-settings-3-line"></i>
                    <span class="sidebar-item-title">Settings</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
                <li class="sidebar-item">
                  <a
                    href="login.html"
                    class="sidebar-icon"
                    accesskey="l"
                  >
                    <i class="ri-logout-box-line"></i>
                    <span class="sidebar-item-title">Logout</span>
                  </a>
                  <div class="sidebar-active-item"></div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- MAIN CONTENT -->
      <div class="main-back" id="main-back">
        <div class="main-wrapper">
          <div class="btn-container">
            <button
              class="btn btn-primary btn-back"
              id="btn-back"
              accesskey="b"
              title="Go Back"
            >
              <i class="ri-arrow-go-back-line"></i>
            </button>
          </div>
          <div class="profile-container">
            <a href="../templates/profile.html" class="img-profile">
              <img
                src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A"
                alt="Profile"
              />
              <strong>mixturegg</strong>
            </a>
            <div class="horizontal-rule"></div>
            <div class="info-profile">
              <a href="#" class="info-profile-box active">
                <h6 id="created-posts">11</h6>
                <span>Created Posts</span>
              </a>
              <a href="#" class="info-profile-box">
                <h6 id="liked-posts">26</h6>
                <span>Liked Posts</span>
              </a>
              <a href="#" class="info-profile-box">
                <h6 id="disliked-posts">9</h6>
                <span>Disliked Posts</span>
              </a>
              <a href="#" class="info-profile-box">
                <h6 id="commented-posts">54</h6>
                <span>Comments</span>
              </a>
            </div>
          </div>
          <section class="posts">
            <h3>Posts, created by @mixturegg</h3>
            <div class="post-card">
              <img
                src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A"
                alt="Profile"
              />
              <div class="post-card-info">
                <h4 id="title"><a href="#">Lorem ipsum dolor sit.</a></h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Autem sint quam numquam. Minima dicta facilis impedit! Quidem
                  facilis fuga voluptates!
                </p>
                <div class="right">
                  <a href="#"
                    ><button class="btn btn-white">
                      Continue Reading
                      <i class="ri-arrow-drop-right-line"></i></button
                  ></a>
                </div>
              </div>
            </div>
            <div class="post-card">
              <img
                src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A"
                alt="Profile"
              />
              <div class="post-card-info">
                <h4 id="title">
                  <a href="#">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Expedita?</a
                  >
                </h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
                  facilis voluptas repellat quae, laudantium asperiores fuga!
                  Quisquam numquam, esse voluptas eos architecto placeat
                  consequatur.
                </p>
                <div class="right">
                  <a href="#"
                    ><button class="btn btn-white">
                      Continue Reading
                      <i class="ri-arrow-drop-right-line"></i></button
                  ></a>
                </div>
              </div>
            </div>
            <div class="post-card">
              <img
                src="https://source.boringavatars.com/beam/40/someone?square&colors=7dc81b,8ACD4F,26E4B9,0051ff,47139A"
                alt="Profile"
              />
              <div class="post-card-info">
                <h4 id="title">
                  <a href="#">Lorem ipsum dolor sit amet consectetur.</a>
                </h4>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex
                  impedit ullam temporibus consequuntur quam, sit nobis ea,
                  quaerat quibusdam harum praesentium nihil placeat ut sint
                  adipisci veniam. Eos, tempora!
                </p>
                <div class="right">
                  <a href="#"
                    ><button class="btn btn-white">
                      Continue Reading
                      <i class="ri-arrow-drop-right-line"></i></button
                  ></a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/app.js"></script>
    <script src="../scripts/profile.js"></script>
  </body>
</html>
