<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head" .}}
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/static/styles/style.css" />
    <!-- APP CSS -->
    <link rel="stylesheet" href="/static/styles/app.css" />
    <!-- SETTINGS -->
    <link rel="stylesheet" href="/static/styles/settings.css" />
    <title>Okumi - Settings</title>
  </head>
  <body>
    <main class="main" id="main">
      <!-- LOADER -->
      {{template "loader" .}}
      <!-- NAVBAR -->
      {{template "navbar" .}}
      <!-- MAIN CONTENT -->
      <div class="main-back" id="main-back">
        <div class="main-wrapper">
          <h5 class="title">Color Playground</h5>
          <section class="themes">
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container Default" id="theme-check">
                <i class="ri-check-line"></i>
              </div>
              Default
            </a>
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container Primary" id="theme-check"></div>
              Primary
            </a>
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container Secondary" id="theme-check"></div>
              Secondary
            </a>
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container Purple" id="theme-check"></div>
              Purple
            </a>
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container Orange" id="theme-check"></div>
              Orange
            </a>
            <a href="#" class="theme" id="theme-toggle">
              <div class="color-container WhiteSky" id="theme-check"></div>
              White Sky
            </a>
          </section>
          <div class="horizontal-rule"></div>
          <h5 class="title">Delete Account</h5>
          <section class="delete-account">
            <button class="btn btn-black" id="delete-account">
              Delete My Account
            </button>
          </section>
        </div>
      </div>
    </main>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/settings.js"></script>
  </body>
</html>
